<% if user_signed_in? %>
 	<h1> You're logged in </h1>
 <% else %>

<div class="hero-unit">

<h1>Welcome to the Best Webpage!</h1>
<p>
	You found the home page for
	<%= link_to "Wilde in the Kitchen", "http://www.wildeinthekitchen.blogspot.com" %>
	 </p>
<p> 
	<%= link_to "Sign up now!", new_user_registration_path, class: "btn-primary btn-large" %>
</p>
</div>
 <% end %>