

<h1>Welcome to the Best Webpage!</h1>
<p>
	You found the home page for
	<%= link_to "Wilde in the Kitchen", "http://www.wildeinthekitchen.blogspot.com" %>
	 </p>
<p> 
	<%= link_to "Sign Up Now!", "#" %>
</p>
